**/*~
**/.*
build
dist
venv
**.pyc
**.pyo
**.egg
**.sqlite
**/__pycache__
*.egg-info
**/*.egg-info
**/*.dist-info
pip-wheel-metadata
schemas
!.github
!.gitignore
!.markdownlint.yaml
!.editorconfig
site
