[build-system]
requires = [
    "setuptools",
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 79
extend-exclude = "/(tests|oapi/oas/model.py)"
target-version = [
    "py36",
    "py37",
    "py38",
    "py39",
    "py310",
]
