black==24.8.0
cachetools==5.5.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
daves-dev-tools==2.1.4
dependence==0.3.6
distlib==0.3.9
docutils==0.20.1
filelock
flake8==7.1.1
idna==3.10
importlib-metadata
iniconfig==2.0.0
iso8601==2.1.0
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jsonpointer==3.0.0
keyring==25.5.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.5.0
mypy-extensions==1.0.0
mypy==1.13.0
nh3==0.2.18
packaging==24.1
pathspec==0.12.1
pkginfo==1.10.0
platformdirs
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
pyproject-api==1.8.0
pytest==8.3.3
PyYAML==6.0.2
readme_renderer==43.0
requests-toolbelt==1.0.0
requests==2.32.3
rfc3986==2.0.0
rich==13.9.3
setuptools
sob==1.50.10
tomli==2.0.2
tomli_w==1.0.0
tox==4.23.2
twine==5.1.1
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.27.1
wheel==0.44.0
zipp==3.20.2
